<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="home">
    <div class="inicio">
        <h1> BIENVENIDO {{ session['name'] }}</h1>
        <h2>Cliente Estandar</h2>
        <button><a href="/layout">Salir</a></button>
    </div>
    
</body>
</html>