<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav class="menu">
        <a href="/"><label for="" class="logo">🤵 MORE LOVE 👰</label></a>
        <ul class="menu-opc">
            <li>
                <a href="/">Home 💕</a>
            </li>

            <li>
                <a href="/login">Login 💘</a>
            </li>
            <li>
                <a href="/registro">Registro 💞</a>
            </li>
        </ul>
    </nav>
    
    {% block content %}
    
    {% endblock %}
</body>
</html>